@media print {
   .noprint {
      visibility: hidden;
   }
}

#checklist {
  position: fixed;
  top: 200px;
  left: 30px;
  width: 300px;
  overflow: auto;
  /* border: 1px solid black; */
  background-color: lemonchiffon;
  padding: 15px;
}

select {
    width: 230px;
}

inline-select{
  display: inline;
}

/* make button prominent */
.submit-button {
  color: black;
  background-color: mediumspringgreen; 
  width: 100px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.compact {
  width: 120px
}

#expository-section {
  border-left: 5px solid gray;
  /* background-color: ghostwhite; */
  padding: 30px 30px 30px 60px; 
}

#main-section {
  border-left: 5px solid #4d4dff;
  /* background-color: aliceblue; */
  padding: 30px 30px 30px 60px; 
}

#addendum-required {
  background-color: lemonchiffon; 
  padding: 15px;
}

#submit-section {
  border-left: 5px solid mediumspringgreen;
  padding: 30px 30px 30px 60px; 
}

.addendum-section {
   border-left: 5px solid orange;
  /* background-color: aliceblue; */
  padding: 20px 30px 20px 60px; 
}

.table-input-container {
  background-color: ghostwhite; 
  width: 110%; 
  padding: 25px;
  margin-bottom: 20px;
  /*  border-bottom: 1px solid darkgray; */
}

.note-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  z-index: 100;
  position: relative;
}

.main-container {
  margin-left: 300px;
}

.wide-textarea {
  width: 500px;
  margin-bottom: 20px;
}

table { 
  border-collapse: separate;
  border-spacing: 8px;
}